# Database
ConnectionStrings__DefaultConnection=Host=localhost;Database=restaurantorder;Username=postgres;Password=

# Grafana
GF_SECURITY_ADMIN_PASSWORD=

# SonarCloud
SONAR_TOKEN=
SONAR_PROJECT_KEY=
SONAR_ORG=
